.btn-cart {
  background-color: transparent;
  position: relative;
}
.btn-cart .badge {
  position: absolute;
  top: -1px;
  right: -1px;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.jumbotron-bg {
  background-image: url('https://images.unsplash.com/photo-1477901492169-d59e6428fc90?w=1350');
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}
.bg-lighter {
  background-color: rgba(255, 255, 255, 0.55);
}
.box-shadow {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .16);
}
.box-shadow:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .26);
  transition: box-shadow .3s;
}
.text-line {
  text-decoration: line-through;
}
.btn.disabled {
  pointer-events: none;
}
.alert-rounded {
  border-radius: 50px;
}
.list-group-item.disabled {
  pointer-events: none;
}
.dropdown-divider {
  border-width: 2px;
}
.footer ul {
  list-style-type: none;
}
.rounded-style {
  border-radius: 0 5px 5px 0;
  border-width: 2px;
}